/* Cambia el color de fondo de la página a un blanco crema */
body {
  background-color: #f0f0eb; /* Color blanco crema */
}

/* Estilos para el encabezado */
header {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  background-color: #0c0e83;
  padding: 10px 0;
}

/* Estilos para el logo */
.logo img {
  height: 100px; /* Ajusta la altura del logo según tus necesidades */
  margin-left: 10px;
}

/* Estilos para la información de contacto */
.contacto-info {
  display: flex;
  align-items: center;
  margin-left: auto; 
  margin-bottom: 60px;
  color: white;
}

.contacto-info p {
  margin: 0 10px;
}

/* Estilos para la lista de navegación */
.nav {
  list-style: none;
  display: flex;
  text-decoration: none;
}

.nav li {
  margin-right: 20px;
  text-decoration: none; /* Quita el subrayado */
  position: relative; /* Añade posición relativa */
}

/* Efecto de sombreado al pasar el cursor */
.nav li:hover a{
  color: #bbbbbb; /* Cambia el color de la tipografía al pasar el cursor */
}

/* Agrega el separado "|" entre los elementos de la lista*/
.nav li:not(:last-child)::after{
  content: "|";
  margin-left: 10px;
  color: black;
}

.nav a{
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

/* Estilos para la línea debajo del encabezado */
hr {
  border: none;
  border-top: 1px solid #000;
  margin-top: 10px;
}

/* Estilos para el footer */
footer {
  background-color: #464646;
  padding: 20px 0; /* Espaciado interno */
  color: white; /* Color del texto */
  text-align: center; /* Centra el contenido */
}

/* Estilos para el logo */
.logo img {
  height: 50px; /* Ajusta la altura del logo según tus necesidades */
  filter: grayscale(100%);
}

/* Estilos para el texto del footer */
.footer-text p {
  margin: 5px 0;
  font-size: 14px;
}

/* Estilos para los íconos de redes sociales */
.social-icons-footer a {
  margin: 0 10px;
  font-size: 20px;
  color: black; /* Color de los íconos */
}

/* Estilos para la información de contacto */
.contact-info-footer p {
  margin: 5px 0;
  font-size: 12px;
}

/* Estilos para la información legal */
.legal-info-footer p {
  margin: 10px 0;
  font-size: 10px;
}